<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/minty/bootstrap.min.css" integrity="sha384-HqaYdAE26lgFCJsUF9TBdbZf7ygr9yPHtxtg37JshqVQi6CCAo6Qvwmgc5xclIiV" crossorigin="anonymous">


<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
    <h1 class="text-success">Here are the results!</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Values</th>
            <th scope="col">It is a palindrome</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${elements}">
            <td th:text="${element.getKey()}"></td>
            <td th:text="${element.getValue()}"></td> <br>
        </tr>
        </tbody>
    </table>
    <form action="/" method="get">
        <button type="submit" class="btn btn-success">Return to start page</button>
    </form>


</body>
</html>