<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/minty/bootstrap.min.css" integrity="sha384-HqaYdAE26lgFCJsUF9TBdbZf7ygr9yPHtxtg37JshqVQi6CCAo6Qvwmgc5xclIiV" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Palindrome Checker</title>
</head>
<body>

    <form action="/palindrome" method="get" onsubmit=>
        <label class="col-form-label" for="userInput">Please enter some values (must be separated by space)</label><br>
        <input type="text" class="form-control" placeholder="Enter something.." id="userInput" name="name">
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>




</body>
</html>

